
a.normalText {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgba(80, 80, 80, .4);
}

.jumbotron {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    position: relative;
}

.media-object {
    height: 100px;
    width: 100px;

}

.return {
    position: absolute;
    bottom: 2%;
    right: 1%;
}

